# Arrays and strings

## Set matrix zeroes

In [40]:
def find_zeroes(matrix):
    """
    Find zeroes in matrix and return their indexes
    """
    
    i_ = []
    j_ = []
    
    for i, row in enumerate(matrix):

        for j, num in enumerate(row):
            if num == 0:
                i_.append(i)
                j_.append(j)
    
    return [i_, j_]

In [35]:
matrix = [[1,1,1],[1,0,1],[1,1,1]]
find_zeroes(matrix)

[[1], [1]]

In [36]:
matrix = [[0,1,2,0],[3,4,5,2],[1,3,1,5]]
find_zeroes(matrix)

[[0, 0], [0, 3]]

In [37]:
def set_zeroes(matrix):
    
    indexes = find_zeroes(matrix)
    i_ = indexes[0]
    j_ = indexes[1]
    
    for i, row in enumerate(matrix):
                
        for j, num in enumerate(row):
            
            if i in i_ or j in j_:
                matrix[i][j] = 0
    
    return matrix

In [38]:
matrix = [[1,1,1],[1,0,1],[1,1,1]]
set_zeroes(matrix)

[[1, 0, 1], [0, 0, 0], [1, 0, 1]]

In [39]:
matrix = [[0,1,2,0],[3,4,5,2],[1,3,1,5]]
set_zeroes(matrix)

[[0, 0, 0, 0], [0, 4, 5, 0], [0, 3, 1, 0]]

## Longest substring without repeating characters

In [56]:
def longest_substring(string):
    
    N = len(string)
    
    i = 0
    
    max_length = 0
    for j in range(1,N):
        
        substring = string[i:j]
        # print(substring, i, j) # for debugging

        if string[j] in substring:
            i = j
            length = len(substring)
            
            if length > max_length:
                max_length = length
            
    
    return max_length

In [57]:
s = "abcabcbb"
longest_substring(s)

a 0 1
ab 0 2
abc 0 3
a 3 4
ab 3 5
abc 3 6
b 6 7

3

In [58]:
s = "bbbbb"
longest_substring(s)

b 0 1
b 1 2
b 2 3
b 3 4

1

In [59]:
s = "pwwkew"
longest_substring(s)

p 0 1
pw 0 2
w 2 3
wk 2 4
wke 2 5

3

## Longest palindromic substring

In [74]:
def check_palindrome(string):
    
    return string == string[::-1]

In [75]:
def longest_palindrome(string):
    
    N = len(string)
    
    max_length = 0
    for i in range(N):
        
        for j in range(N+1):
            
            substring = string[i:j]
            if check_palindrome(substring):
                length = len(substring)
                
            if length > max_length:
                max_length = length
    
    return max_length

In [76]:
s = 'bab'
longest_palindrome(s)

3

In [77]:
s = 'babadab'
longest_palindrome(s)

5

In [78]:
s = 'cbbd'
longest_palindrome(s)

2

## Increasing Triplet Subsequence

In [3]:
def triplets(nums):
    
    N  = len(nums)
    
    for i in range(N):
        
        for j in range(N):
            
            for k in range(N):
                
                if i < j < k and nums[i] < nums[j] < nums[k]:
                    
                    return True
    return False

In [4]:
nums = [1,2,3,4,5]
triplets(nums)

True

In [5]:
nums = [5,4,3,2,1]
triplets(nums)

False

In [6]:
nums = [2,1,5,0,4,6]
triplets(nums)

True

In [22]:
def triplets(nums):
    
    N = len(nums)
    
    array = [float('+inf')]*3
    
    for num in nums:
        
        # first place
        if num < array[0] and num < array[1] and num < array[2]:
            array[0] = num
        elif num > array[0] and num < array[1] and num < array[2]:
            array[1] = num
        elif num > array[0] and num > array[1] and num < array[2]:
            array[2] = num
            return True
        print(array) # for debugging
    
    return False

In [23]:
nums = [1,2,3,4,5]
triplets(nums)

[1, inf, inf]
[1, 2, inf]

True

In [24]:
nums = [5,4,3,2,1]
triplets(nums)

[5, inf, inf]
[4, inf, inf]
[3, inf, inf]
[2, inf, inf]
[1, inf, inf]

False

In [25]:
nums = [2,1,5,0,4,6]
triplets(nums)

[2, inf, inf]
[1, inf, inf]
[1, 5, inf]
[0, 5, inf]
[0, 4, inf]

True

In [26]:
nums = [1,6,3,4,5]
triplets(nums)

[1, inf, inf]
[1, 6, inf]
[1, 3, inf]

True

## Group anagrams

In [27]:
strs = ["eat","tea","tan","ate","nat","bat"]

In [ ]:
def group_anagrams(string):
    
    N = len(string)
    anagrams = {}
    
    for i, word in enumerate(string):
        
        anagrams[word]
        for key in anagrams.keys():
            if set(word) == set(key):
                anagrams[key] = dict.get(i, 0) + append(i)

In [31]:
set('eat') == set('tea')

True

In [32]:
A ={}

In [34]:
print(A.get('A'))

None

## 3Sum

In [23]:
# brute force approach
def three_sum(array):
    
    answers = []
    N = len(array)
    
    for i in range(N):
        
        for j in range(N):
            
            for k in range(N):
                
                if i != j and i != k and j != k and nums[i] + nums[j] + nums[k] == 0:
                    potential = [nums[i], nums[j], nums[k]]
                    include = True
                    for answer in answers:
                        if set(answer) == set(potential):
                            include = False
                            
                    if include:
                        answers.append(potential)
    return answers

In [24]:
nums = [-1,0,1,2,-1,-4]
sol = three_sum(nums)
sol

[[-1, 0, 1], [-1, 2, -1]]

In [25]:
nums = [3,3,3]
three_sum(nums)

[]

In [26]:
nums = [0,0,0]
three_sum(nums)

[[0, 0, 0]]

## Best time to buy and sell stock

In [2]:
prices = [7,1,5,3,6,4,]

In [7]:
def best_time_buy_sell(array):
    
    min_value = 100000
    max_value = 0
    
    max_profit = 0
    
    N = len(array)
    
    for j in range(N):
        
        if array[j] < min_value:
            min_value = array[j]
            buy_index = j
            
        if array[j] > max_value and j > buy_index:
            max_value = array[j]
            
    profit = max_value - min_value
    
    if profit > 0:
        return profit
    else:
        return 0

In [8]:
prices = [7,1,5,3,6,4,]
best_time_buy_sell(prices)

5

In [9]:
prices = [1,5]
best_time_buy_sell(prices)

4

In [10]:
prices = [5,4,3,2,1]
best_time_buy_sell(prices)

0

In [11]:
prices = [1,6,100]
best_time_buy_sell(prices)

99

# Math

## Pow(x, n)

In [23]:
def power(x, n):
    
    if type(n) != int:
        raise ValueError('n not integer')
        
    ans = 1
    
    if n == 0:
        ans = 1
    elif n >= 1:
        for i in range(n):
            ans = ans * x
    elif n <= -1:
        for i in range(abs(n)):
            ans = ans * x       
        ans = 1/ans

    
    return ans

In [36]:
%%time
power(2, 300)

CPU times: user 7 µs, sys: 1 µs, total: 8 µs
Wall time: 10.5 µs

2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376

In [25]:
power(2.1, 3)

9.261000000000001

In [26]:
power(2, -2)

0.25

In [27]:
power(3, -1)

0.3333333333333333

In [30]:
def power2(x, n):
    if type(n) != int:
        raise ValueError('n not integer')
        
    if n == 0:
        return 1
    elif n < 0:
        x = 1/x
        n = -n
    
    ans = 1
    while n > 0:
        if n % 2 == 1:
            ans *= x
        x *= x
        n //= 2
        
    return ans

In [35]:
%%time
power2(2, 300)

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 9.78 µs

2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376

## Excel column title

In [40]:
import string

alphabet = list(string.ascii_uppercase)
alphabet

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [ ]:
def excel_column_title(string):
    
    N = len(string)
    
    english_al
    
    
    count = 0
    while

In [38]:
s = 'BG'